.panelOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.panelAnadir{
    width: fit-content;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 3px #00000040;
    gap: 0;
    z-index: 1000;
    
    color: var(--dark_blue);
}

.panelAnadir h1{
    font-size: 2rem;
}

.panelAnadir .closeBtn{
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
}

.panelAnadirLibro, .panelAnadirPrestamo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    padding: .5rem 0 0;
    width: 100%;
}

/* TEXTO */
.panelAnadirLibro h1, .panelAnadirPrestamo h1{
    margin-bottom: .5rem;
}

.panelAnadirLibro p, .panelAnadirPrestamo p{
    margin: 0;
    text-align: left;
}

/* CATEGORÍAS Y SERIES */
.panelAnadirLibro .categoriasSeries{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.categoriasSeries .serie{
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    gap: .5rem;
}

.categoriasSeries .serie:hover{
    background-color: unset;
}

.categoriasSeries .serie .serie_titulo, .categoriasSeries .serie .serie_numeros > div{
    display: flex;
    align-items: center;
    padding: .5rem .8rem;
    background-color: var(--blue_grey_second);
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: .8rem;
    cursor: pointer;
    width: fit-content;
    height: 1.7rem;

    transition: all 200ms ease-in-out;
}

.categoriasSeries .serie .serie_titulo{
    position: relative;
}

.categoriasSeries .serie .serie_titulo input{
    width: 100%;
}

.categoriasSeries .serie .serie_numeros{
    display: flex;
    gap: .5rem;
}

.categoriasSeries .serie input{
    background-color: unset;
    border: none;
    outline: none;
    color: var(--dark_blue);
    width: 5rem;
    font-family: "Epunda Sans", sans-serif;
}

.categoriasSeries .serie .serie_num input{
    width: 2rem;
}

/* OCULTAR FLECHAS DEL INPUT NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* FAV PÚBLICO */
.panelAnadirLibro .fav_publico{
    display: flex;
    gap: 0.5rem;
}

.panelAnadirLibro .fav_publico button:hover{
    background-color: var(--light_blue_second);
}

.panelAnadirLibro .fav_publico button:active{
    background-color: var(--dark_blue);
}

/* BOTONES */
.panelAnadirLibro button i, .panelAnadirPrestamo button i{
    font-size: 1rem;
}

.panelAnadirLibro button, .panelAnadirPrestamo button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 .4rem;
    font-size: .8rem;
    font-family: 'Jost', sans-serif;
    font-weight: bold;

    padding: .2rem .7rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;

    background-color: var(--blue_grey_second);
    color: var(--dark_blue);
    
    transition: all 200ms ease-in-out;
}

.panelAnadirLibro .anadirBtnFinal, .panelAnadirPrestamo .anadirBtnFinal{
    align-self: flex-end;
    background-color: var(--green);
    color: var(--dark_blue);
    border-radius: 10rem;
    font-size: .8rem;
    padding: .6rem 1rem;
    border: none;
    outline: none;
    margin-top: .5rem;
    
    font-family: "Jost", sans-serif;
    font-weight: bold;
}

.panelAnadirLibro .anadirBtnFinal:disabled, .panelAnadirPrestamo .anadirBtnFinal:disabled{
    background-color: var(--blue_grey_second);
    color: var(--light_blue_second);
}

/* POSICIÓN PRÉSTAMO */
.barraPrestar{
    display: flex;
    gap: 1rem;
    position: relative;
}

.barraPrestar .prestamoOpciones, .serie_titulo .seriesOpciones {
    position: absolute;
    top: 105%;
    width: max-content;
    border-radius: .8rem;
    background-color: var(--blue_grey_second);
    overflow: hidden;
    z-index: 1;
}

.barraPrestar .amigoOpciones.amigoBtn {
    position: absolute;
    top: 105%;
    right: 0;
    width: max-content;
    border-radius: .8rem;
    background-color: var(--blue_grey_second);
    overflow: hidden;
    z-index: 1;
    max-height: 12rem;
    overflow-y: auto;
}

.barraPrestar .amigoOpciones.amigo button, .barraPrestar .prestamoOpciones button, .serie_titulo .seriesOpciones button {
    width: 100%;
    border-radius: 0;
}

.barraPrestar .amigoOpciones.amigo button:hover, .barraPrestar .prestamoOpciones button:hover, .serie_titulo .seriesOpciones button:hover {
    background-color: var(--light_blue_second);
}

.barraPrestar .amigoOpciones.amigo button:active, .barraPrestar .prestamoOpciones button:active, .serie_titulo .seriesOpciones button:active {
    color: var(--white);
    background-color: var(--dark_blue);
}

/* AMIGO SELECCIONADO */
.panelAnadirPrestamo .amigoSeleccionado{
    background-color: unset;
    box-shadow: 0 0 6px 3px #00000040;
    border-radius: 10rem;
    padding: .1rem 1rem .1rem .1rem;
    position: relative;
}

.amigoSeleccionadoFoto{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.amigoSeleccionado img, .amigoSeleccionadoFoto img{
    border-radius: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* COLORES PRÉSTAMOS */
.barraPrestar .sin_prestamos{
    background-color: var(--dark_blue);
    color: var(--white);
}

.barraPrestar .prestado{
    background-color: var(--blue_grey_second);
    color: var(--dark_blue);
}

.barraPrestar .en_prestamo{
    background-color: var(--dark_blue);
    color: var(--orange);
}