/* PERFIL */
.perfilCabecera{
    display: flex;
    gap: 2.5rem;
}

.fotoPerfil{
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.fotoPerfil img{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.perfilColecciones{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--dark_blue);
}

.perfilColecciones .bloqueAmistad{
    display: flex;
    gap: .5rem;
}

.perfilColecciones .bloqueAmistad > button, .perfilColecciones > button{
    border: none;
    outline: none;
    border-radius: 10rem;
    font-weight: bold;
}

.perfilColecciones .bloqueAmistad > button:hover, .perfilColecciones > button:hover{
    background-color: var(--blue_grey_second);
    color: var(--dark_blue)
}

.perfilColecciones .bloqueAmistad > button:active, .perfilColecciones > button:active{
    background-color: var(--dark_blue);
    color: var(--white)
}

.amistad_solicitada{
    background-color: var(--blue_grey_second);
    color: var(--light_blue_second);
}

.amistad_sin_solicitar{
    background-color: var(--green);
    color: var(--dark_blue);
}

.amistad_aceptada, .amistad_bloqueada{
    font-size: .7rem;
    background-color: var(--red);
    color: var(--dark_blue);
}

.perfilColeccionesTags{
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
}

.perfilColeccionesTags > a{
    text-decoration: none;
    color: var(--dark_blue);
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    background-color: var(--blue_main);
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: all 200ms ease-in-out;
}

.perfilColeccionesTags > a:hover{
    background-color: var(--blue_grey_second);
}

.perfilColeccionesTags > a:active{
    background-color: var(--green);
}

/* ICONOS AMIGOS */
.amigo{
    width: 160px;
    height: 220px;
    padding: 10px 0 10px 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    text-align: center;
}

.amigo > .fotoPerfil{
    width: 133px;
    height: 133px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.amigo > .fotoPerfil > img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    transition: all 200ms ease-in-out;
}

.amigo > .fotoPerfil:hover > img{
    filter: brightness(30%);
    cursor: pointer;
}

.amigo > a{
    display: block;
    color: #343B57;
    text-decoration: none;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;
}
