/* DETALLE LIBRO */
.detalleLibro{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    color: var(--dark_blue);
}

.detalleLibroInfo{
    display: flex;
    gap: 0 1.5rem;
    align-items: flex-start;
    height: 347.14px;
}

.detalleLibro .detalleLibroInfo .detalleLibroPortada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    position: relative;
    overflow: hidden;
}

.detalleLibro .detalleLibroInfo .detalleLibroPortada img{
    width: 230px;
    height: 347.14px;
}

.detalleLibro .detalleLibroInfo .detalleLibroPortada .fav_publico{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.detalleLibroInfo .detalleLibroTexto{
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr repeat(6, 1fr) 2fr;
}

.detalleLibroInfo .detalleLibroTexto .autor{
    font-size: 1.3rem;
}

.detalleLibroInfo .detalleLibroTexto span{
    font-weight: bold;
}

.detalleLibroEstados{
    align-self: flex-end;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

/* BOTONES DE ESTADO */
.detalleLibroEstados button, #estadoLectura button, .detalleLibroPortada .fav_publico button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 .4rem;
    font-size: .8rem;
    font-family: 'Jost', sans-serif;
    font-weight: bold;

    padding: .2rem .7rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    background-color: var(--blue_grey_second);
    color: var(--dark_blue);
    cursor: pointer;

    transition: all 200ms ease-in-out;
}

.detalleLibroEstados button i, .detalleLibroPortada .fav_publico button i{
    font-size: 1rem;
}

.detalleLibroEstados button:is(.estadoAnadir, .estadoPrestar){
    background-color: var(--dark_blue);
    color: var(--white);
}

button.estadoFavorito{
    background-color: var(--pink);
    color: var(--white);
}

.detalleLibroEstados button.estadoPrestamo, .detalleLibroEstados button.estadoAnadir{
    background-color: var(--dark_blue);
    color: var(--green);
}

/* DESPLEGABLES ESTADOS */
#estadoLectura .estadoLecturaOpciones button, #estadoCategorias .categorias button{
    background-color: unset;
    width: 100%;
    justify-content: flex-start;
}

/* HOVERS */
.detalleLibroEstados button:hover, #estadoLectura button:hover, #estadoCategorias button:hover, .detalleLibroPortada .fav_publico button:hover{
    color: var(--dark_blue);
    background-color: var(--light_blue_second);
}

#estadoLectura .estadoLecturaOpciones button:hover, .categorias button:hover {
    border-radius: 0;
}

.detalleLibroEstados button:active, #estadoLectura button:active, #estadoCategorias button:active, .detalleLibroPortada .fav_publico button:active{
    color: var(--white);
    background-color: var(--dark_blue);
}

#estadoLectura .estadoLecturaOpciones button:active, .categorias button:active {
    border-radius: 0;
}

/* FONDO DESPLEGABLES */
#estadoLectura .estadoLecturaOpciones, .categorias{
    position: absolute;
    top: 105%;
    width: max-content;
    border-radius: .8rem;
    background-color: var(--blue_grey_second);
    overflow: hidden;
    z-index: 1;
}

/* OPCIONES DESPLEGABLE CATEGORÍAS */
#estadoCategorias .categorias .catActiva{
    background-color: var(--light_blue_second);
    color: var(--dark_blue);
    border-radius: 0;
}

#estadoCategorias .categorias .catActiva:first-child {
    border-radius: .4rem .4rem 0 0;
}
#estadoCategorias .categorias .catActiva:last-child {
    border-radius: 0 0 .4rem .4rem;
}

/* COLORES ESTADO DE LECTURA */
#estadoLectura .estadoVerde{
    background-color: var(--green);
    color: var(--dark_blue);
}

#estadoLectura .estadoNaranja{
    background-color: var(--orange);
    color: var(--dark_blue);
}

#estadoLectura .estadoRojo, button.resultadoBorrar{
    background-color: var(--red);
    color: var(--dark_blue);
}

/* COLORES ESTADO PRÉSTAMO */
.detalleLibroEstados .sin_prestamos{
    background-color: var(--blue_grey_second);
    color: var(--dark_blue);
}
.detalleLibroEstados .prestado{
    background-color: var(--dark_blue);
    color: var(--green);
}
.detalleLibroEstados .en_prestamo{
    background-color: var(--dark_blue);
    color: var(--orange);
}


/* SELECTORES ESTADOS */
#estadoLectura, #estadoCategorias{
    position: relative;
}

/* SERIES */
.detalleLibro .detalleLibroSerie{
    display: flex;
    justify-content: center;
}

.detalleLibro .detalleLibroSerie button{
    text-align: center;
    cursor: pointer;
    width: fit-content;
    padding: .2rem .7rem;
    border-radius: .4rem;
    background-color: unset;
    border: none;
    outline: none;
    color: var(--dark_blue);
}

.detalleLibro .detalleLibroSerie button:hover{
    background-color: var(--light_blue_second);
}
.detalleLibro .detalleLibroSerie button:active{
    color: var(--white);
    background-color: var(--dark_blue);
    border: none;
    outline: none;
}

/* EDITANDO SERIE */
.detalleLibro .detalleLibroSerie .editandoSerie{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.detalleLibro .detalleLibroSerie .editandoSerie input{
    background-color: var(--light_blue_second);
    border: none;
    outline: none;
    color: var(--dark_blue);
    width: 10rem;
    font-family: "Epunda Sans", sans-serif;
    padding: .2rem .7rem;
    border-radius: .4rem;
}

.detalleLibro .detalleLibroSerie .editandoSerie input[type=number]{
    width: 3rem;
}

.detalleLibro .detalleLibroSerie .editandoSerie .editandoSerieBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    width: 1.2rem;
}

.detalleLibro .detalleLibroSerie .editandoSerie button i{
    font-size: 1rem;
}

.detalleLibro .detalleLibroSerie .editandoSerie .editandoSerieBtn:hover {
    background-color: var(--light_blue_second);
}
.detalleLibro .detalleLibroSerie .editandoSerie .editandoSerieBtn:active {
    color: var(--white);
    background-color: var(--dark_blue);
}

.detalleLibro .detalleLibroSerie .editandoSerie .serieTitulo .seriesOpciones{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 105%;
    border-radius: .8rem;
    background-color: var(--blue_grey_second);
    overflow: hidden;
    z-index: 1;
    font-size: .8rem;
}

.serieTitulo .seriesOpciones button {
    width: 100%;
    border-radius: 0;
}


/* TEXTO SINOPSIS */
.detalleLibro .detalleLibroSinopsis p{
    margin-bottom: 1rem;
}
