/* LISTA LIBROS */
section .h1_herramientas{
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .6rem 0 0;
}

section .h1_herramientas h1{
    padding: 0;
}

section .h1_herramientas .iconosCategorias{
    align-self: center;
    display: flex;
    align-items: center;
}

section .h1_herramientas > i:nth-child(2){
    margin-left: .4rem;
}

section .h1_herramientas i{
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

section .h1_herramientas i:hover{
    color: var(--blue_grey_second);
}

section .h1_herramientas i:active{
    color: var(--green);
}

section .filtro_abc{
    margin: .5rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1rem;

    font-family: 'Jost', sans-serif;
    font-size: .7rem;
    font-weight: 500;
    color: var(--blue_grey_second);
}

section .filtro_abc_movil{
    display: none;
    margin: .5rem 0;
    font-family: 'Jost', sans-serif;
    font-size: .7rem;
    font-weight: 500;
    color: var(--blue_grey_second);
}

section .filtro_abc_movil select{
    border-color: var(--blue_grey_second);
    border-radius: .3rem;
    color: var(--dark_blue);
    font-family: 'Jost', sans-serif;
    background-color: var(--white);
    outline: none;
}

section .filtro_abc .activo{
    color: var(--dark_blue);
}

section .filtro_abc .filtro_abc_btn{
    padding: 0 .3rem;
    cursor: pointer;
}

section .filtro_abc .filtro_abc_btn:hover{
    color: var(--dark_blue);
}

section .filtro_abc .filtro_abc_btn:active{
    color: var(--green);
}