/* TAGS */
.tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.tags .tags_ppales, .tags .tags_usuario{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem .5rem
}

.tags button, .tags .inputDiv{
    padding: .5rem .8rem;
    background-color: var(--blue_main);
    border: none;
    outline: none;
    border-radius: .5rem;

    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: .8rem;
    color: var(--dark_blue);
    cursor: pointer;

    transition: all 200ms ease-in-out;
}

.tags button.crear{
    display: flex;
    justify-content: center;
    gap: .2rem;
}

.tags button i{
    font-size: 1rem;
}

.tags button:hover, .tags button.activo:hover, .tags button.crear:hover{
    background-color: var(--blue_grey_second);
    color: var(--dark_blue);
}

.tags button:active, .tags button.activo:active, .tags button.crear:active{
    background-color: var(--green);
    color: var(--dark_blue);
}

.tags button.activo{
    background-color: var(--dark_blue);
    color: var(--white);
}

.tags button.crear{
    background-color: var(--light_blue_second);
    color: var(--dark_blue);
}

/* INPUT PARA CREAR ETIQUETAS */
.tags .inputDiv{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.tags .inputDiv input{
    background-color: unset;
    border: none;
    outline: none;
    color: var(--dark_blue);
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    width: 5rem;
}

.tags .inputDiv button{
    padding: .1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tags .inputDiv button:hover{
    background-color: var(--dark_blue);
    color: var(--white);
    border-radius: 5rem;
}

.tags .inputDiv button:active{
    background-color: var(--light_blue_second);
    color: var(--dark_blue);
}